name: Build firmware

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v2
      
    - name: Build the firmware
      run: |
        docker build . --pull --file Dockerfile --tag satip-axe-make
        docker run --rm -v $(pwd):/build satip-axe-make all release
    
    - name: Archive build artifacts
      uses: actions/upload-artifact@v2
      with:
        name: firmware
        path: out
